@media screen and (max-width: 1435px) {
  .sub-background h1{
    font-size: 80px;
  }
  .about-1{
    width: 95%;
  }
  .about-sub h2{
    font-size: 41px;
  }
  .about-img img{
    max-width: 65%;
    height: auto;
  }
  .img-2{
     right: 5%;
     top: 100px;

  }
  .about-sub{
    width: 50%;
    float: right;
    padding: 0 30px;
}
  .col-2 img{
    max-width: 100%;
    height: 120%;
    box-sizing: border-box;
  }
  .blog-container-01-text h2{
    font-size: 20px;
  }
  .footer-instagram-img{
    padding: 2.5px;

}
}
@media screen and (max-width: 1235px) {
  .about-sub h2,.testimonial h2,.gallery h2,.blog-title h2{
    font-size: 39px;
  }
  .blog-container-01-text h2{
    font-size: 16px;
  }
  .blog-container-01-text p{
    font-size: 13px;
  }
  .col-2 img{
    min-width: 110%;
    margin-left: -6%;

 }
 .letter-img{
  top:-16px;
  left: -4%;
 }
 .letter-img img{
  width: 90%;
  height: auto;
}
.letter-nd i{
   font-size: 40px;
}
  
}
@media screen and (max-width: 1135px) {
  .about-sub h2,.testimonial h2,.gallery h2,.blog-title h2{
    font-size: 36px;
  }
  .about-sub h3, .about-sub p{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .about-sub h4{
    font-size: 16px;
  }
  .about{
    padding-bottom: 100px;
  }
  .sub-background h1{
    font-size: 62px;
  }
  .sub-background h3{
    font-size: 21px;
  }
  .row-text a{
    font-size: 22px;
  }
  .row-text p{
    font-size: 13px;
  }
  .col-2 img{
     min-width: 120%;
     margin-left: -10%;

  }
  .col-2 {
    justify-content: center;
  }
  .sub-services{
    padding: 150px 10px;
  }
  .icon .fas{
    font-size: 75px;
  }
  .gallery-2.no-5{
    display: none;
  }
  .gallery-2{
    width: 25%;
    padding:0 5px;
    margin-left: 0;
    box-sizing: border-box;
}
.gallery-1{
  width: 96%;
  margin: 0 auto;
  text-align: center;
}
.gallery h2{
  padding-bottom: 80px;
}
.see-more a{
  margin-top: 40px;
}
.letter-nd i{
  font-size: 50px;
}
.letter-text-content input{
  width: 40%;
}
.letter h2{
  font-size:25px ;
}
.letter i{
  font-size: 33px;
}
.letter-img{
  top:-16px;
  left: -5%;
 }
 .letter-img img{
  width: 85%;
  height: auto;
}
.col-2-footer h2 {
  font-size: 19px;
  margin-bottom: 20px;
}
.col-2-2-footer i {
  font-size: 25px;
  padding-right: 15px;
}
.col-2-footer li {
    margin-bottom: 5px;
}
.footer-contect h3 {
  font-size: 16px; 
}
.footer-container p, .footer-container a{
  font-size: 14px;
}
.col-2-3-footer{
  padding-left: 20px;
}
 /* blog  */
 .blog-title{
  padding-bottom: 120px;
}
.letter button{
  padding: 10px 23px;
  font-size: 13px;
}
}

@media screen and (max-width: 1010px){
  .nav-bars{
     display: block;
  }
  .nav{
    display: none;
  }
  .buff{
    display: block;
  }
  /* background-home */
  .background-home .left,.background-home .right{
    top:45%;
  }
  .sub-background h1{
    margin: 0;
    font-size: 62px;
  }
  .sub-background h3{
    font-size: 20px;
    margin-top: 0;
  }
  .sub-background p{
    font-size: 14px;
  }
  .sub-background a,.about a{
    padding: 9px 25px;
}
.sub-background{
  top:22%;
}
  /* about */
 .about{
  padding-top: 55px;
  padding-bottom: 55px;
 }
 .about-sub{
  padding: 0 10px;
 }
 .about-sub h3{
  font-size: 14px;
 }
 .about-sub h2{
  font-size: 28px;
  line-height: 40px;
 }
 .about-sub h4{
    margin-top: 0;
 }
 .about-sub p{
  margin-bottom: 5px;
 }
 .about-img .img-2{
  top:80px;
 }
 .about-img .img-3{
    width:26%;
    height: auto;
   top:-30px
 }
 /*services*/
 .sub-services{
  padding: 90px 8px;
 }
 .icon .fas {
  font-size: 60px;
 }
 .sub-services a{
  font-size: 19px;
 }
 .sub-services hr{
   margin:15px auto;
 }
 .sub-services p{
  font-size: 14px;
 }
 .row-text a{
  font-size: 16px;
 }
 .row-text p{
  font-size: 12px;
 }
 .col-2 img{
  min-width: 110%;
  height: auto;
  margin-left: -5%;
 }
 .row-img{
  background-color: white;
  border-radius: 10%;
 }
 /* gallery */
 .gallery-2.no-4{
  display: none;
}
.gallery-2{
  width: 33.33%;
  height: auto;
}
.gallery h2,.testimonial h2,.blog-title h2{
   font-size: 34px;
   margin: 0;
}
.gallery h3{
  margin: 0 0 10px 0;
  font-size: 14px;
}
.testimonial h3,.blog-title h3{
  font-size: 14px;
}
.see-more a{
  padding: 10px 30px;
}
 .testimonial{
  margin: 50px 0;
 }

 .letter-img{
  display:none;
 }
 .letter-container{
   width: 94%;
 }
 .letter-container input{
  height: auto;
 }
 .letter h2{
  font-size: 22px;
 }
 .letter i{
  font-size: 28px;
 }
 .letter{
  padding-bottom: 80px;
 }
 .blog{
  padding-bottom: 80px;
 }
 .blog-container{
  width: 90%;
  margin-top: -100px;
}
 .blog-container-01.no-3{
  display: none;
 }
 .blog-container-01{
  width:46% ;
}
.letter input{
  font-size: 15px;
  padding: 9px 25px;
}
.letter button{
  padding: 10px 18px;
  font-size: 13px;
 }
 /* footer  */
 .col-1-footer ,.col-2-footer{
  display: none;
 }
 .footer-about{
  display: block;
 }
 .footer-mobile{
  display: block;
 }
 .footer-container{
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 55px 0;
 }
 .footer-about p{
  padding: 15px 0 30px 0;
  width: 55%;
  margin: 0 auto;
  font-size: 15px;
 }
 .end-footer{
  width: 80%;
  margin: 0 auto;
  padding:13px 0;
 }
 
}
@media screen and (max-width: 900px){
   .sub-services p{
    font-size: 13px;
   }
}
@media screen and (max-width: 850px){
   .sub-services{
    padding: 110px 8px;
   }
   .sub-background p{
    padding-bottom:10px; 
}  
 .sub-background{
  top:18%;
 }
 .about-sub h4,.about h3{
  margin-bottom: 5px;
 }
 .about-sub h2{
  line-height: 35px;
 }
}
@media screen and (max-width: 760px){
   /* background  */
    .sub-background h1{
      font-size: 46px;
    }
    .sub-background h3{
      font-size: 16px;
    }
    .sub-background p{
      font-size: 13px;
    }
    .sub-background{
      top:15%;
    }
    .sub-background a,.about a{
      padding:6px 20px;
    }
    .sub-background p{
      padding: 0;
    }
    .background-home .left, .background-home .right{
      background: none;
      top:40%;
    }
    .about-1{
      flex-wrap:wrap;
    }
     /* about  */
     .about{
      display: block;
     }
      .about-1{
      width: 100%;
      /* position: relative; */
     }
     .img-2,.img-3,.img-1{
        position:static;
     } 
     .about-img{
      width: 95%;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
      box-sizing: border-box;
     }
    .about .img-2{
      margin-top:-45%;
      margin-left: 24%;
     }
     .about .img-3{
      float: right;
      margin-top:-80%;
      margin-right: 9%;
      max-width:150px;
     }
     .about-sub{
      width: 95%;
      text-align: center;
     padding:20px;
     margin:0 auto;
     }
     .about-sub h2{
      padding-bottom: 10px;
     }
      /* services  */
      .services{
        display: block;
        margin-bottom: 40px;
      }
      .vien.no_2{
        position: static;
        margin-top: -10px;
      }
      .vien.no_3{
        position: static;
      }
      .sub-services{
        padding: 45px 115px;
        border-bottom: 0.1px solid rgba(255, 255, 255, 0.435);
      }
      .sub-services.no-border{
        border: none;
      }
      .sub-services p{
        font-size: 15px;
      }
      .sub-services a{
        font-size: 22px;
      }
      hr{
        height: 3px;
        color: white;
        background-color: white;
      }
      /* menu coffee  */
      .menu-coffee{
        display: block;
      }
      .menu-coffee a{
        font-size: 24px;
      }
      .menu-coffee p{
        font-size: 16px;
      }
      .col-1 .row{
        text-align: left;
        transform: translateX(-71px);
        /* margin-left: -75px; */
      }
      .col-1 .row:hover{
        transform: translateX(5px) ;
        transition: transform 1s;
        width: 100%;
        margin-left: 0;
      }
      .col-1 .row-img{
        float: left;
        position: absolute;
      }
      .col-1 .row-text{
        margin-left: 80px;
      }
      .col-2 {
        margin: 0 auto;
        width: 80%;
    
      }
      .col-2 img{
        width: 80%;
        min-width: 80%;
        margin: 0 auto;
      }
      .col-3 .row{
        text-align: left;
        transform: translateX(-56px);
        /* margin-left: -75px; */
      }
      .col-3 .row:hover{
        transform: translateX(5px) ;
        transition: transform 1s;
        width: 100%;
        margin-left: 0;
      }
       /* title  */
       .gallery h2, .testimonial h2, .blog-title h2 {
        font-size: 31px;
       }
       /* gallery  */
       .gallery-2.no-3{
        display: none;
       }
       .gallery-2{
        width: 50%;
       }
       .gallery h2{
        padding-bottom: 80px;
       }
        /* testimonial  */
       .sub-feedback{
         padding: 0 10px;
         box-sizing: border-box;
       }
       .navigation-manual,.navigation-auto{
        margin-top: 235px;
       }
       .manual-btn:not(:last-child) ,.navigation-auto div:not(:last-child) {
        margin-right: 30px;
    }
       .name h4{
        font-size: 18px;
       }
       .feedback img{
        border: 5px solid white;
        width: 100px;
      }.testimonial{
        margin-bottom: 0;
      }
        /* blog  */
       .blog-title{
        padding-bottom: 110px;
       }
       .blog-container{
        width: 96%;
       }
       .blog-container-01{
        width: 47%;
       }
       .blog-container-01-text a{
         padding:12px 30px;
       }
       .blog-container-01-text h2{
        font-size: 15px;
       }
        /* letter  */
        .letter-nd{
          padding:20px 0;
        }
        .letter-text h2{
          font-size:20px ;
        }
        .letter i{
          font-size: 25px;
        }
        .letter-text-content input{
          width: 60%;
        }
         /* footer  */
         .footer-container,.end-footer{
          width: 85%;
         }
         .footer-about p{
          width: 70%;
         }

}
   
@media screen and (max-width: 615px){
   /* menu  */
    .logo{
      margin-left: -10%;
    }
   /* background */
   .sub-background{
    padding-left: 10px;
    top:10%;
   }
   /* services  */
   .sub-services{
    padding: 45px 100px;
   }
   .sub-services a{
    padding-bottom: 0;
   }
   .sub-services hr{
    margin: 5px auto;
   }
   .sub-services .icon .fas{
    padding: 15px 0;
   }
    /* menu coffee  */
    .menu-coffee p{
      font-size: 14px;
    }
    .menu-coffee a{
      font-size: 22px;
    }
    .menu-coffee .row{
      margin-bottom: 30px;
    }
    .col-2 {
    width: 480px;
    }
    /* testimonial */
    .testimonial p{
      font-size: 15px;
      padding: 0 20px;
    }
    .testimonial h4{
      font-size: 16px;
    }
    .testimonial label,.navigation-auto div{
      padding: 4px;
    }
    .navigation-auto ,.navigation-manual{
      margin-top: 230px;
    }
    /* blog */
    .blog-title{
      padding-bottom: 100px;
    }
   .blog-container-01-text a{
    font-size: 14px;
   }
   /* letter */
   .letter input{
    font-size:13px ;
   }
   .letter button{
    padding:8px 16px;
    font-size: 12px;
   }
   /* footer */
   .end-footer p{
     font-size: 14px;
   }
}
@media screen and (max-width: 570px){
  .menu{
    line-height: 70px;
  }
  .nav-mobile-close{
    right: 35px;
  }
  .buff{
    height: 70px;
  }
  .sub-background{
    top:24%;
    padding-left: 15px;
    width: auto;
  }
  .sub-background p{
    display: none;
  }
  .sub-background h1{
    font-size:40px ;
  }
  .sub-background a{
    font-size: 14px;
    border: 1px solid white;
  }
  .sub-background h3{
    text-transform:capitalize;
  }
  /* services  */
  .sub-services p{
    font-size: 14px;
  }
  /* menu coffee  */
  .col-2 {
    width: 450px;
    }
    /* gallery */
    .gallery h2{
      padding-bottom: 70px;
    }
    .see-more a{
      margin:30px 0 45px 0 ;
      padding:8px 25px ;
    }
    .gallery h2, .testimonial h2,.blog-title h2{
      font-size: 28px;
    }
    /* testimonial */
    .navigation-auto, .navigation-manual{
      margin-top: 220px;
    }
    .feedback img{
      border: 5px solid white;
      width: 100px;
    }
    .testimonial h4,.testimonial p{
      font-size: 14px;
    }
    /* blog */
.blog-container-01.no-2{
  display: none;
}
.blog-container-01{
     width: 90%;
}
.blog-container{
   margin-top: -70px;
}
.blog-container-01-text h2{
   font-size: 20px;

}
.blog-container-01-text p{
  font-size: 15px;
} 
/* footer */
 .end-footer{
  display: block;
  text-align: center;
 }

    
}
@media screen and (max-width: 490px){
  .nav-mobile-close{
    right:30px;
  }
  .sub-background{
    top:24%;
    padding-left: 15px;
    width: auto;
  }
  .sub-background h1{
    font-size:36px ;
  }
  .sub-background h3{
    font-size: 13px;
  }
  .sub-background a{
    font-size: 13px;
    border: 1px solid white;
  }
    /* services  */
    .sub-services{
      padding: 40px 65px;
     }
      /* gallery */
      .gallery h3, .testimonial h3,.blog-title h3{
        font-size: 13px;
      }
      /* testimonial */
      .navigation-auto, .navigation-manual{
        margin-top: 230px;
      }
      /* blog */
      .blog{
        padding-bottom: 60px;
      }
      /* letter */
      .letter i{
      font-size: 25px;
      }
      .le
      .letter h2{
        font-size:18px ;
      }
      /* footer */
      .footer-about p{
        width: 80%;
      }
     
}
@media screen and (max-width: 460px){
  /* menu */
  .menu{
    line-height: 65px;
  }
  .buff{
    height:65px;
  }
  .logo{
    max-width: 180px;
  }
  .nav-mobile{
     width: 250px;
  }
    .sub-background{
      top:20%;
    }
    .sub-background h1{
      font-size: 30px;
    }
    .background-home .right,.background-home .left{
      top:35%;
    }
    .nav-bars {
      font-size: 25px;
    }
    .nav-bars:hover{
      font-size: 26px;
    }
      /* services  */
      .sub-services{
        padding: 40px 50px;
      }
       /* menu coffee  */
    .menu-coffee p{
      font-size: 13px;
    }
    .menu-coffee a{
      font-size: 20px;
    }
    .menu-coffee .row{
      margin-bottom: 30px;
    }
  .col-2 {
    width: 380px;
    }
    /* gallery */
    .gallery h2{
      padding-bottom: 55px;
    }
    .see-more a{
      font-size: 14px;
    } 
    /* testimonial */
    .testimonial p{
      font-size: 13px;
    }
    .navigation-auto, .navigation-manual{
      margin-top: 220px;
    }
    .testimonial{
      margin-bottom: -10px;
    }
    /* letter */
    .letter button{
      display: none;
    }
    .fa-paper-plane{
      display: block;
      background-color: #97552c;
      padding: 5px 10px 0 10px;
      max-height:38px ;
    }
    .fa-paper-plane:hover{
      background-color: black;
      border: 0.5px solid white;
    }
    .letter input{
      font-size: 12px;
    }
    .letter{
      padding-bottom: 60px;
    }
    /* footer */
    .end-footer p{
      font-size: 13px;
    }
} 
@media screen and (max-width: 395px){
  .nav-mobile-close{
    right:20px;
  }
  .sub-background{
    top:28%;
    padding-left: 20px;
  }
  .sub-background h1{
    font-size: 25px;
    margin-bottom: -20px;
  }
  .sub-background a{
    font-size: 12px;
    padding:0 10px ;
    box-sizing: border-box;
  }
  .sub-background h3{
    display: none;
  }

   .background-home .right,.background-home .left{
      top:35%;
     padding: 5px;
     font-size: 13px;
  }
  /* about */
  .about-sub h2{
    font-size: 22px;
  }
  .about-sub h3{
    font-size: 13px;
  }
  .about-sub p,.about-sub a{
    font-size: 14px;
  }
  .about-sub h4{
    font-size: 14px;
    font-weight: 550;
  }

    /* services  */
    .sub-services{
      padding: 40px;
    }
      /* menu coffee  */
      .col-2{
        width: 350px;
      }
/* gallery */
      .gallery h2{
        padding-bottom: 45px;
      }
      .see-more a{
        font-size: 13px;
        margin-top: 20px;
      } 
      .gallery h2, .testimonial h2,.blog-title h2{
        font-size: 25px;
      }
      .gallery h3{
        margin: 0;
      }
        /* testimonial */
    .testimonial p{
      font-size: 13px;
    }
    .navigation-auto, .navigation-manual{
      margin-top: 240px;
    }
    /* blog */

   .blog-container-01-text h2{
      font-size: 18px;
   
   }
   .blog-container-01-text p{
     font-size: 14px;
   }
   /* letter */
   .letter h2{
    font-size: 16px;
   }
   /* footer */
   .footer-container{
    padding: 45px 0;
   }
   
}
@media screen and (max-width: 350px){
  .nav-mobile{
    width: 100%;
 }
 /* about */
    .about-sub p{
       margin-bottom: 10px;
    }
    .about{
      padding-bottom: 20px;
    }
    /* menu coffee  */
    .col-2{
      width: 300px;
    }
    .menu-coffee p{
      font-size: 12px;
    }
    .menu-coffee a{
      font-size: 18px;
    }
    .menu-coffee .row{
      margin-bottom: 15px;
    }
     /* gallery  */
     .gallery h2{
       padding-bottom: 40px;
     }
       /* blog */

   .blog-container-01-text h2{
    font-size: 16px;
 
 }
 .blog-container-01-text p{
   font-size: 13px;
 }
 .blog-container-01-text a{
  font-size: 13px;
 }
 /* letter */
 .letter-container{
  width: 100%;
 }
 /* footer */
 .footer-instagram-container-nav {
  padding:10px ;
 }
}


